input {
    keyboard {
        xkb {
            layout "se"
            variant "nodeadkeys"
            options "ctrl:nocaps"
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
        accel-speed -0.55
    }
    focus-follows-mouse max-scroll-amount="25%"
}
output "eDP-1" {
    scale 1
}
output "Samsung Electric Company Odyssey G50A HNMWB00460" {
    scale 1
}
// output "Crestron Electronics, Inc. Crestron Unknown" {
//     scale 1
// }
layout {
    background-color "hsl(0, 0%, 13%)"
    gaps 0
    center-focused-column "never"
    preset-column-widths {
        // proportion 0.4
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
 // fixed 607
    }
    default-column-width {
        // fixed 810
        proportion 0.5
    }
    focus-ring {
        off
    }
    border {
        width 2
        active-color "#99d1db77"
        inactive-color "#333333"
        urgent-color "#9b0000"
    }
}
spawn-at-startup "waybar"
spawn-at-startup "swayidle"
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
    // off
    slowdown 0.3
}
window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match title="mandelbrot-metaverse"
    open-focused false
}
window-rule {
    match title="snake-in-bevy"
    open-focused false
}

binds {
    Mod+Shift+Slash {
        show-hotkey-overlay
    }
    Ctrl+Alt+T hotkey-overlay-title="Open a Terminal" {
        spawn "foot"
    }
    Mod+T {
        spawn "~/.local/bin/toggle-theme.sh"
    }
    Mod+Space {
        spawn "rofi" "-show-icons" "-show" "drun"
    }
    Ctrl+Alt+P {
        spawn "~/.local/bin/rofi-pass"
    }
    Super+Alt+L {
        spawn "hyprlock"
    }
    Ctrl+Alt+F {
        spawn "floorp"
    }
    Ctrl+Alt+E {
        spawn "thunar"
    }
    Mod+M {
        spawn "wlogout"
    }
    Mod+B {
        spawn "foot" "bluetui"
    }
    Ctrl+Alt+W {
        spawn "foot" "impala"
    }
    Mod+A {
        spawn "foot" "wiremix"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "+10%"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "10%-"
    }
    XF86AudioPlay allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    XF86AudioNext allow-when-locked=true {
        spawn "playerctl" "next"
    }
    XF86AudioPrev allow-when-locked=true {
        spawn "playerctl" "previous"
    }
    Mod+O repeat=false {
        toggle-overview
    }
    Mod+Q repeat=false {
        close-window
    }
    Mod+Left {
        focus-column-left
    }
    Mod+Down {
        focus-window-or-workspace-down
    }
    Mod+Up {
        focus-window-or-workspace-up
    }
    Mod+Right {
        focus-column-right
    }
    Mod+H {
        focus-column-left
    }
    Mod+I {
        spawn-sh "niri msg pick-color | awk '/Hex:/ {printf \"%s\", $2}' | wl-copy"
    }
    Mod+L {
        focus-column-right
    }
    Mod+Ctrl+Left {
        move-column-left
    }
    Mod+Ctrl+Down {
        move-window-down
    }
    Mod+Ctrl+Up {
        move-window-up
    }
    Mod+Ctrl+Right {
        move-column-right
    }
    Mod+Ctrl+H {
        move-column-left
    }
    Mod+Ctrl+L {
        move-column-right
    }
    Mod+J {
        focus-window-or-workspace-down
    }
    Mod+K {
        focus-window-or-workspace-up
    }
    Mod+Ctrl+J {
        move-window-down-or-to-workspace-down
    }
    Mod+Ctrl+K {
        move-window-up-or-to-workspace-up
    }
    Mod+Home {
        focus-column-first
    }
    Mod+End {
        focus-column-last
    }
    Mod+Ctrl+Home {
        move-column-to-first
    }
    Mod+Ctrl+End {
        move-column-to-last
    }
    Mod+Shift+Left {
        focus-monitor-left
    }
    Mod+Shift+Down {
        focus-monitor-down
    }
    Mod+Shift+Up {
        focus-monitor-up
    }
    Mod+Shift+Right {
        focus-monitor-right
    }
    Mod+Shift+H {
        focus-monitor-left
    }
    Mod+Shift+J {
        focus-monitor-down
    }
    Mod+Shift+K {
        focus-monitor-up
    }
    Mod+Shift+L {
        focus-monitor-right
    }
    Mod+Shift+Ctrl+Left {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+Down {
        move-column-to-monitor-down
    }
    Mod+Shift+Ctrl+Up {
        move-column-to-monitor-up
    }
    Mod+Shift+Ctrl+Right {
        move-column-to-monitor-right
    }
    Mod+Shift+Ctrl+H {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+J {
        move-column-to-monitor-down
    }
    Mod+Shift+Ctrl+K {
        move-column-to-monitor-up
    }
    Mod+Shift+Ctrl+L {
        move-column-to-monitor-right
    }
    // Regular scroll moves left/right
    Mod+WheelScrollDown cooldown-ms=50 {
        focus-column-right
    }
    Mod+WheelScrollUp cooldown-ms=50 {
        focus-column-left
    }
    Mod+Ctrl+WheelScrollDown cooldown-ms=50 {
        move-column-right
    }
    Mod+Ctrl+WheelScrollUp cooldown-ms=50 {
        move-column-left
    }
    // Shift+scroll moves up/down
    Mod+Shift+WheelScrollDown cooldown-ms=50 {
        focus-workspace-down
    }
    Mod+Shift+WheelScrollUp cooldown-ms=50 {
        focus-workspace-up
    }
    Mod+Ctrl+Shift+WheelScrollDown cooldown-ms=50 {
        move-column-to-workspace-down
    }
    Mod+Ctrl+Shift+WheelScrollUp cooldown-ms=50 {
        move-column-to-workspace-up
    }
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+Ctrl+1 {
        move-column-to-workspace 1
    }
    Mod+Ctrl+2 {
        move-column-to-workspace 2
    }
    Mod+Ctrl+3 {
        move-column-to-workspace 3
    }
    Mod+Ctrl+4 {
        move-column-to-workspace 4
    }
    Mod+Ctrl+5 {
        move-column-to-workspace 5
    }
    Mod+Ctrl+6 {
        move-column-to-workspace 6
    }
    Mod+Ctrl+7 {
        move-column-to-workspace 7
    }
    Mod+Ctrl+8 {
        move-column-to-workspace 8
    }
    Mod+Ctrl+9 {
        move-column-to-workspace 9
    }
    Mod+BracketLeft {
        consume-or-expel-window-left
    }
    Mod+BracketRight {
        consume-or-expel-window-right
    }
    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma {
        consume-window-into-column
    }
    // Expel the bottom window from the focused column to the right.
    Mod+Period {
        expel-window-from-column
    }
    Mod+R {
        switch-preset-column-width
    }
    // Cycling through the presets in reverse order is also possible.
    // Mod+R { switch-preset-column-width-back; }
    Mod+Shift+R {
        switch-preset-window-height
    }
    Mod+Ctrl+R {
        reset-window-height
    }
    Mod+F {
        maximize-column
    }
    Mod+Z {
        fullscreen-window
    }
    Mod+W {
        toggle-windowed-fullscreen
    }
    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F {
        expand-column-to-available-width
    }
    Mod+C {
        center-column
    }
    // Center all fully visible columns on screen.
    Mod+Ctrl+C {
        center-visible-columns
    }
    Mod+V {
        toggle-window-floating
    }
    Mod+Shift+V {
        switch-focus-between-floating-and-tiling
    }
    Print {
        screenshot
    }
    Ctrl+Print {
        screenshot-screen
    }
    Alt+Print {
        screenshot-window
    }
    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }
    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E {
        quit
    }
    Ctrl+Alt+Delete {
        quit
    }
    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P {
        power-off-monitors
    }
    Mod+Shift+S {
        suspend
    }
    Mod+P repeat=false {
        spawn-sh "wl-mirror $(niri msg --json focused-output | jq -r .name)"
    }
    Mod+Shift+U repeat=false {
        spawn-sh "OUTPUT=$(niri msg --json focused-output); niri msg output $(echo $OUTPUT | jq -r .name) scale $([ $(echo $OUTPUT | jq .logical.scale) = 1.0 ] && echo 2.0 || echo 1.0)"
    }
}
cursor {
    hide-when-typing
    hide-after-inactive-ms 1500
}
environment {
    OZONE_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    GDK_BACKEND "wayland,x11"
    QT_QPA_PLATFORM "wayland"
    _JAVA_AWT_WM_NONREPARENTING "1"
}


